## IDEs
.idea/
.vscode/
*.DS_Store
.pytest_cache/
*/.pytest_cache
*.pytest_cache/
*.pytest_cache/*


*.logs

#UNIX stuff
*~
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc